catkin-pkg==0.4.24
cycler==0.11.0
numpy==1.21.5
Cython==0.29.28
PyYAML==6.0
sklearn==0.0
fonttools==4.31.1
joblib==1.1.0
kiwisolver==1.4.0
matplotlib==3.5.1
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
protobuf==3.19.4
PySide2==5.15.2
rospkg==1.4.0
scikit-learn==1.0.2
scipy==1.7.3
shiboken2==5.15.2
tensorboardX==2.5
threadpoolctl==3.1.0
torch==1.6.0
torchvision==0.7.0
typing_extensions==4.1.1
open3d
transforms3d
#unique_id==1.0.6
